{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h1>{% trans "Url results" %}</h1>
    <ul class="list-group>">
        {% for url in url_list %}
            <li class="list-group-item">
                <strong>{{ url.long_url }}</strong>
                <br/>
                <a href="{% url 'url_shortener:redirect_short_url' url.short_url %}">
                    {{ url.short_url }}
                </a>
            </li>
        {% empty %}
            <div class="alert alert-warning">
                <p>{% trans "No Url results" %}</p>
            </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}